.top {
    padding-top: 15px;
    background-color: black;
    height: 170px;
    font-size: 30px;
    color: white;
    text-align: center;
  }
  .top p {
    padding-top: 20px;
    font-size: 20px;
  }
 
  @media (max-width: 799px) {
    .top {
      font-size: 16px;
      padding: 20px;
    }
  }
  .top p {
    font-size: 10px;
  }